body{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    font-size: 16px;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0px 15px 0px 15px;
    width: 98%;
    height:60px;
    background-color: black;
}
.left-section{
    width: 180px;
    height: 53px;
}
.amazon-logo{
    width: 100px;
    height: 31px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.middle-section{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    width: 100%;
}
.search-box{
    flex: 1;
    width: 100%;
    min-width: 100px;
    max-width: 850px;
    height: 38px;
    padding-left: 15px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-family: "roboto";
    font-size: 16px;
    border-style: none;
    }
.search-box:hover{
    border: 0px none;
}
.search-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 40px;
    background-color:rgb(254, 189, 105);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-style: none;
    cursor: pointer;
    }
.search-icon:active{
    opacity: 30%;
    box-shadow: 2px 2px 2px rgba(224, 222, 222, 0.514);
}
.search-icon:hover{
    opacity: 90%;
}
.right-section{
    width:200px;
    height: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.returns-orders{
    width: 75px;
    height: 38px;
    padding: 6px;
    background-color: black;
    color: #F0F0F0;
    border: 1px solid black;
    border-radius: 2px;
    text-decoration:none;
    cursor: pointer;
}
.cart-info{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 38px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 2px;
    text-decoration:none ;
    color: #F0F0F0;
    cursor: pointer;
}
.returns-orders:hover,.cart-info:hover,.amazon-logo:hover{
    border-color: #F0F0F0;
}
.returns-orders:active,.cart-info:active,.amazon-logo:active{
    opacity: 50%;
    box-shadow: 2px 2px 2px rgb(224, 222, 222);
}
.cart-quantity{
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 12px;
    right: 69px;
    width: 26px;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.div{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 168px; 
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 25px 25px 25px;
    border-right: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:171px;
    height:180px;
    margin-top: 35px;
}
.image{
    max-width: 100%;
    max-height: 100%;
}

.product-name{
    height: 40px;
    line-height: 20px;
    margin:25px 0px 9px 0px;
}
.rating{
    width: 101px;
    height: 21px;
    margin: 0px 6px 11px 0px;
}
.rated-people{
    margin: 3px 0px 0px 0px;
    color: #017CB6;
    font-family: "Roboto";
    font-size:15px ;
}
.price{
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
.drop-box{
    width: 49px;
    height: 29px;
    color: black;
    background-color: #F0F0F0;
    border-radius: 8px;
    border:1px solid rgb(192, 190, 190) ;
    padding: 3px 5px;
    margin: 0px 0px 17px 0px;
    cursor: pointer;
}
.added-to-cart-msg{
    color: #067D62;
    font-size: 18px;
}
.add-to-cart{
    font-size: small;
    background-color: rgb(255, 216, 20);
    color: black;
    border-radius: 30px;
    width: 171px;
    height: 33px;
    padding: 8px;
    border-style: none;
    margin-bottom: 0em;
    cursor: pointer;
}
.add-to-cart:hover{
    opacity: 80%;
}
.add-to-cart:active{
    opacity: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.12);
}
